
<!-- Hero Section -->
<div class="hero-background">
  <div class="dark-overlay"></div>
  <div class="content">
    <header id="hero-first">
      <h1>Retro Cafe QR Menü</h1>
      <p>Hoşgeldiniz</p>

      <button>Hemen İncele</button>
    </header>
    <!-- <section id="hero-fourth">
      <button>Hemen İncele</button>
    </section> -->
    <footer id="hero-eighth">
      <app-icon-button
        iconClass="fas fa-utensils"
        label="Menü"
        (clicked)="handleClick()"
      ></app-icon-button>
    </footer>
  </div>
</div>

<div class="menu-belt">
  <app-icon-button
    iconClass="fas fa-utensils"
    label="Menü"
    (clicked)="handleClick()"
  ></app-icon-button>
</div>
