<div class="categories-header">
  <div class="categories-row" *ngIf="categories$ | async as categories">
    <div class="category-item" *ngFor="let category of categories">
      {{ category.name | uppercase }}
    </div>
  </div>
</div>

<div class="products-column" *ngIf="categoryProducts$ | async as categoryProducts">
  <div class="category-group" *ngFor="let categoryProduct of categoryProducts">
    <h2 class="category-title">{{ categoryProduct.category | uppercase }}</h2>
    <div class="products-list">
      <div class="product-item" *ngFor="let product of categoryProduct.products">
        <div class="product-image">
          <img [src]="product.imageUrl" [alt]="product.name" />
        </div>
        <div class="product-details">
          <h3>{{ product.name }}</h3>
          <p class="description">{{ product.description }}</p>
          <p class="price">{{ product.price | currency:'TRY':'symbol' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
