.background {
  width: 100%;
  height: 100vh; // Full viewport height
  // background-image: url('/public/images/hero.jfif');
  // background-image: url('https://www.lovevsdesign.com/media/wysiwyg/2022/LVD/Homepage/banner_1_desktop_optimized.jpg');
  background-image: url('https://i.lezzet.com.tr/images-800x600/yalova-kahvalti-mekanlari--bs64-1c32f605-b14b-4379-980a-cbb3c25e7f67');


background-size: cover; /* Or contain, depending on your requirement */
background-repeat: no-repeat;
background-position: center;
}
