<!-- <div class="banner"> -->
  <!-- <div class="container-fluid"> -->
  <!-- <div class="container"> -->
    <!-- <div class="row"> -->
      <!-- <div class="col-md-8 container-div" style="background-color: blue; padding: 0%;"> -->
      <!-- <div style="background-color: blue; padding: 0%;"> -->
      <div>
        <img
          src="images/hero.jfif"
          alt=""
          style="width: 100%; height: auto"
        />
      </div>
      <!-- <div class="col-md-4" style="background-color: rgb(240, 238, 233)">
        <div id="textArea">
          <h1 class="fw-bold display-4">custom</h1>
          <h1 class="fw-bold display-4">color</h1>
          <h1 class="fw-bold display-4">wallpaper</h1>
          <p>millions of color combinations customize instantly online</p>
          <a href="#" class="btn btn-light">SHOP NOW</a>
        </div>
      </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->

